<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/form.css">
<%- include('../includes/navigation') %>
<div style="display: <%= errors ? "flex" : "none" %>" id="flash">
    <p><%= errors %></p>
</div>
<div class="form">
    <h1>Type your email</h1>
    <form class="form_item" action="/reset-password" method="post">
        <div>
            <label for="email">EMail</label>
            <input type="text" id="email" name="email">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Send request to reset password</button>
    </form>
</div>
<%- include('../includes/foot') %>