<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/main.css">
<%- include('../includes/navigation') %>
<main>
    <div class="books">
        <% for (const book of books) { %>
            <article class="book_item">
                <div class="book">
                    <h1><%= book.title %></h1>
                    <h3><%= book.author %></h3>
                    <img src="<%= book.imageUrl %>" alt="A book">
                    <p><%= book.description %></p>
                    <form action="/books/<%= book._id %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit">Description</button>
                    </form>
                    <form action="/cart" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="bookId" value="<%= book._id %>">
                        <button class="btn" type="submit">Reserve</button>
                    </form>
                </div>
            </article>
        <% } %>
    </div>
    <section class="pagination">
        <% if (page > 1) { %>
            <a href="/?page=1">Start</a>
        <% } %>
        <% if (hasPrevPage) {%>
            <a href="/?page=<%= +page - 1 %>"><<</a>
        <% } %>
        <a class="active" href="/?page=<%= +page %>"><%= page %></a>
        <% if (hasNextPage) { %>
            <a href="/?page=<%= +page + 1 %>">>></a>
        <% } %>
        <%if (page < lastPage) {%>
            <a href="/?page=<%= lastPage %>">Last</a>
        <% } %>
    </section>
</main>
<%- include('../includes/foot') %>