<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/main.css">
<%- include('../includes/navigation') %>
<div class="cart">
    <% if (orders.length <= 0) { %>
        <h1>No orders!</h1>
    <% } else { %>
        <% for (const order of orders) { %>
            <div class="reserved">
                <h2>Order <%= order._id %> - <a href="/reserved/<%= order._id %>">Invoice</a></h2>
                <% for (const book of order.books) { %>
                    <div class="cart_item">
                        <h3><%= book.book.title %></h3>
                        <h3>Quantity: <%= book.quantity %></h3>
                    </div>
                <% } %>
            </div>s
        <% } %>
    <% } %>
</div>
<%- include('../includes/foot') %>