</head>
<body>
<header class="main_header">
    <nav class="navigation">
        <ul class="main_navigation">
            <li>
                <a href="/">
                    <img id="logo" src="/images/logo.png" alt="Logo">
                </a>
            </li>
            <li>
                <a class="link_item <%=path === '/' ? 'active' : ''%>" href="/">Books</a>
            </li>
            <li>
                <a class="link_item <%=path === '/cart' ? 'active' : ''%>" href="/cart">Cart</a>
            </li>
            <li>
                <a class="link_item <%=path === '/reserved' ? 'active' : ''%>" href="/reserved">Reserved books</a>
            </li>
            <% if (isAuthenticated) { %>
                <li>
                    <a class="link_item <%=path === '/admin/add-book' ? 'active' : ''%>" href="/admin/add-book">Add book</a>
                </li>
                <li>
                    <a class="link_item <%=path === '/admin/books' ? 'active' : ''%>" href="/admin/books">Admin books</a>
                </li>
            <% } %>
        </ul>
        <ul class="auth_navigation">
            <% if (!isAuthenticated) { %>
            <li>
                <a class="link_item <%=path === '/signup' ? 'active' : ''%>" href="/signup">Sign up</a>
            </li>
            <li>
                <a class="link_item <%=path === '/login' ? 'active' : ''%>" href="/login">Login</a>
            </li>
            <% } else if (isAuthenticated) {%>
            <li>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="link_item" type="submit">Log out</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav>
</header>