</head>
<body>
<header class="main_header">
    <nav class="navigation">
        <ul class="main_navigation">
            <li>
                <a href="/">
                    <img id="logo" src="/images/logo.png" alt="Logo">
                </a>
            </li>
            <li>
                <a class="<%=path === '/' ? 'active' : ''%>" href="/">Books</a>
            </li>
            <li>
                <a class="<%=path === '/cart' ? 'active' : ''%>" href="/cart">Cart</a>
            </li>
            <li>
                <a class="<%=path === '/reserved' ? 'active' : ''%>" href="/reserved">Reserved books</a>
            </li>
            <li>
                <a class="<%=path === '/add-book' ? 'active' : ''%>" href="/admin/add-book">Add book</a>
            </li>
            <li>
                <a class="<%=path === '/admin/books' ? 'active' : ''%>" href="/admin/books">Admin books</a>
            </li>
        </ul>
        <ul class="auth_navigation">
            <li>
                <a class="<%=path === '/signup' ? 'active' : ''%>" href="/signup">Sign up</a>
            </li>
            <li>
                <a class="<%=path === '/login' ? 'active' : ''%>" href="/login">Login</a>
            </li>
            <li>
                <a class="<%=path === '/logout' ? 'active' : ''%>" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>